.cards {
    /* padding: 4rem;*/
    background: #fff; 
    margin-top: 80px;
    
}  
  h1 {
    text-align: center;
  }
  .cards__container {
    display: flex;
    flex-flow: column;
    max-width: 1020px; 
    max-height: 1200px; 
    /* height: 200px; */
    /* width: 100%; */
    margin: 0 auto;
    z-index: 999;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  .cards__container::-webkit-scrollbar {
    display: none;
}
  .cards__wrapper {
    display: flex;
    position: relative;
  
  }
 .cards__items > ul{
    list-style-type: disc;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
 }
  .cards__items {
    display: flex;
    flex: 1;
    margin-bottom: 24px;
  }
  .cards__item {
    display: flex;
    flex: 1;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(167, 167, 167, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  } 
  .cards__item__pic-wrap::after {
    content: attr(data-category);
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    padding: 6px 8px;
    max-width: calc((100%) - 60px);
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #1f98f4;
    box-sizing: border-box;
  }
  
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
    max-width: 100%;
  
  }
  
  .cards__item__img:hover {
    opacity: .8;
  }
  
  .cards__item__info {
    padding: 20px 20px 20px;
    color: #252e48;
    font-size: 20px;
  }
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
